@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif !important;
    font-weight: 700;
    color: var(--black);
    box-sizing: border-box !important;
}

:root {
    --primary-color: #000000;
    --secondary-color: #FD653D;
    --background: #f5f5f5;
    --background-color-light: #e7e7ff5e;
    --white: white;
    --border-color: #E6EDFF;
    --indigo-color: #FD653D;
    --red-color: #FF3B30;
    --green-color: #146356;
    --orange-color: #FF9500;
    --grey-color: #7C8DB5;
    --border-grey-color: #7c8db547;
    --font-family-1: "Exo", sans-serif;
    --font-family-2: "Albert Sans", sans-serif;
    --font-family-3: "Poppins", sans-serif;
    --black: #09112c;
    --aside-background-white: rgba(255, 255, 255, 0.457);
    --normal_shaodow: 0px 0px 2px grey !important;
}

body {
    color: var(--black);
    line-height: 1.6;
    max-width: 1500px !important;
    margin: 0 auto;
}

div[data-test-connection-state="CONNECTED"] {
    background: var(--background);
}

header,
footer {
    display: none !important;
}

div[data-testid="stFileUploader"] {
    width: 100%;
}

div[data-testid="stFileUploader"] * {
    padding: 0px;
}

div[data-testid="stFileUploader"] .st-emotion-cache-fis6aj {
    padding-top: 10px;
    border-top: 2px solid var(--border-grey-color);
    border-top-style: dashed;
    margin-top: 20px;
}

section[data-testid="stFileUploaderDropzone"]:has(input[data-testid="stFileUploaderDropzoneInput"]) {
    background: var(--white) !important;
    box-shadow: var(--normal_shaodow);
    padding: 10px 10px !important;
    border-radius: 10px !important;
    cursor: pointer;
    margin: 10px 0;
    height: 75px;
}

section[data-testid="stFileUploaderDropzone"]:has(input[data-testid="stFileUploaderDropzoneInput"]) button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--black) !important;
    border-radius: 10px;
    white-space: nowrap;
    padding: 15px 30px;
    color: var(--white) !important;
    letter-spacing: 1px;
    font-size: small;
    font-weight: 600;
    border: none;
    position: relative;
    right: 5px !important;
    text-transform: capitalize;
    outline: none;
}

section[data-testid="stFileUploaderDropzone"]:has(input[data-testid="stFileUploaderDropzoneInput"]) button:hover {
    background: var(--indigo-color) !important;
}

section[data-testid="stFileUploaderDropzone"]:has(input[data-testid="stFileUploaderDropzoneInput"]) span:has(svg) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: var(--indigo-color);
}

section[data-testid="stFileUploaderDropzone"]:has(input[data-testid="stFileUploaderDropzoneInput"]) span:has(svg) svg {
    fill: var(--white);
}

section[data-testid="stFileUploaderDropzone"]:has(input[data-testid="stFileUploaderDropzoneInput"]) small {
    font-weight: 500;
}

section[data-testid="stFileUploaderDropzone"]:has(input[data-testid="stFileUploaderDropzoneInput"]) * {
    text-transform: capitalize;
}

p {
    font-weight: 550;
}

h1,
p {
    margin: 0;
    padding: 0;
}

div[data-testid="stFileUploaderFile"] {
    background: var(--white);
    box-shadow: var(--normal_shaodow);
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 10px;
}

div[data-testid="stFileUploaderFile"] div.stFileUploaderFileData {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-top: 5px;
}

div[data-testid="stFileUploaderFile"] div.stFileUploaderFileData small {
    margin-top: -5px;
    padding-left: 10px;
    border-left: 2px solid var(--border-grey-color);
    border-left-style: dashed !important;
    height: 100%;
}

div[data-testid="stFileUploaderDeleteBtn"] button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    position: relative;
    right: 5px;
    background: var(--background) !important;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: inset var(--normal_shaodow);
    color: var(--black) !important;
}

div.stFileUploaderFileName {
    font-weight: 500;
    color: var(--black);
}

div[data-testid="stFileUploaderFile"] .st-emotion-cache-10ix4kq:has(svg) {
    background: var(--black);
    border-radius: 10px;
    padding: 10px;
}

div[data-testid="stFileUploaderFile"] .st-emotion-cache-10ix4kq:has(svg) svg {
    fill: var(--white);
}

button[kind="secondary"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--black) !important;
    border-radius: 10px;
    white-space: nowrap;
    padding: 15px 30px;
    color: var(--white) !important;
    border: none;
    position: relative;
    outline: none;
    min-width: max-content;
}

button[kind="secondary"] p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: small;
    font-weight: 600;
    color: var(--white);
}

button[kind="secondary"]:hover {
    background: var(--indigo-color) !important;
}

div.stSelectbox {
    background: var(--white);
    padding: 15px;
    box-shadow: var(--normal_shaodow);
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 5px;
    flex-direction: column;
}

div[data-baseweb="select"] .st-au {
    background: var(--background) !important;
    box-shadow: var(--normal_shaodow);
    color: var(--black) !important;
    border-radius: 5px;
    cursor: pointer;
}

div[data-baseweb="select"] * {
    font-weight: 500 !important;
    border: none !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

li[role="option"] * {
    font-weight: 500 !important;
}

.div[role="progressbar"] * {
    background-color: var(--indigo-color) !important;
}

.h1 {
    font-size: xx-large;
}

strong {
    font-weight: 500 !important;
}

button[data-testid="stBaseButton-secondary"] {
    position: relative !important;
    right: 0 !important;
}

div[data-testid="stHorizontalBlock"]:has(button[data-testid="stBaseButton-secondary"]) {
    width: 100%;
    position: relative !important;
    right: 0 !important;
    margin-right: 0 !important;
    display: block !important;
    margin-left: auto !important;
}

div[data-testid="stHorizontalBlock"]:has(button[data-testid="stBaseButton-secondary"]) button[data-testid="stBaseButton-secondary"] {
    position: relative !important;
    right: 0 !important;
    margin-right: 0 !important;
    margin-left: auto !important;
}

div[data-testid="stExpander"] {
    background: var(--white);
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.176);
    padding: 20px;
}


div[data-testid="stExpander"] * {
    border: none;
    padding: 0;
}

div[data-testid="stExpander"] div[data-testid="stHorizontalBlock"] {
    display: flex;
    gap: 10px;
    padding: 0;
}

div[data-testid="stExpander"] details {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
}

div[data-testid="stExpander"] div[data-testid="stVerticalBlock"] div[data-testid="stHorizontalBlock"] {
    padding-top: 20px;
    border-top: 2px solid rgba(128, 128, 128, 0.168);
}

div[data-testid="stExpander"] div[data-testid="stVerticalBlock"] div[data-testid="stHorizontalBlock"] input {
    display: flex;
    background: var(--background);
    color: var(--black);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.286);
}

div[data-testid="stExpander"] div[data-testid="stVerticalBlock"] button {
    display: flex;
    justify-content: center;
    width: max-content;
    background: var(--black);
    padding: 15px 30px;
}

div[data-testid="stExpander"] div[data-testid="stVerticalBlock"] button * {
    color: var(--white);
}

div[data-testid="stExpander"] div[data-testid="stVerticalBlock"] button:hover {
    background: var(--indigo-color);
}

div[data-stale="false"]:has(.active-categories) {
    border-radius: 10px;
    background: var(--white);
    margin: 20px 0;
    border: 2px solid rgba(128, 128, 128, 0.286);
    overflow: hidden;
}

.active-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-left: 7px solid var(--indigo-color) !important;
    padding-bottom: 50px;
}

.active-categories .h3 {
    font-size: xx-large;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.168);
}

.active-categories p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
}

.active-categories p strong {
    font-weight: 700 !important;
    margin-right: 10px;
}

button[kind="primary"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--black) !important;
    border-radius: 10px;
    white-space: nowrap;
    padding: 15px 35px;
    border: none;
    width: max-content;
    position: relative;
    right: 5px !important;
    outline: none;
}

button[kind="primary"]:hover {
    background: var(--indigo-color) !important;
}

button[kind="primary"] * {
    color: var(--white) !important;
    letter-spacing: 1px;
    font-size: small !important;
    font-weight: 600;
    text-transform: capitalize;
}

div[role="alert"] {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div[role="alert"] * {
    margin: 0 !important;
    padding: 0 !important;
}

div[data-testid="stSpinner"] div[data-testid="stMarkdownContainer"] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-top: -15px;
}

.summary-section {
    margin: 20px 0px;
}

.metric-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding: 20px 20px;
    background: var(--white);
    border: 2px solid rgba(128, 128, 128, 0.18);
    text-align: left;
    border-radius: 10px;
}
.h3{
    font-size: large !important;
}
.metric-card p {
    margin: 0;
    padding: 0;
}
.metric-card p:nth-of-type(1){
    font-size: small;
}
.metric-card p:nth-of-type(2) {
    color: var(--indigo-color);
    font-size: x-large;
}

div[data-testid="stHorizontalBlock"]:has(.metric-card) {
    display: flex !important;
    flex-direction: row !important;
    gap: 20px;
}

div[data-testid="stSelectbox"] {
    text-align: center;
    border-radius: 10px;
}
div[data-testid="stHorizontalBlock"]:has(button[data-testid="stBaseButton-secondary"]):has(div[data-testid="stDownloadButton"]) {
    display: flex !important;
    background: var(--background-color-light) !important;
    border: 3px solid rgba(128, 128, 128, 0.151);
    gap: 10px;
    margin: 20px 0;
    border-radius: 15px;
    padding: 10px;
}
div[data-testid="stMainBlockContainer"]{
    padding: 20px 20px !important;
    zoom: 80%;
}
